<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Editar Habitación</h2>
                    <h4>Consecutivo:</h4>
                    <input class="input" type="text" name="txtConsecutivo" id="txtUser" value="HAB2" disabled="disabled"><br>
                    <h4>Número:</h4>
                    <input class="input" type="text" name="numero" id="numero" value="501"><br>
                    <h4>Nombre:</h4>
                    <input class="input" type="text" name="nombre" id="nombre" value="Suite Presidencial"><br>
                    <h4>Descripción:</h4>
                    <select name="descripcion" id="descripcion">
                        <option value="normal">Normal</option>
                        <option value="deluxe" selected>Deluxe</option>
                        <option value="condominio">Condominio</option>
                    </select><br><br>
                    <h4>Imagen:</h4>
                    <input class="input" type="file" name="imagen" id="imagen"><br><br>

                    <a href="lista_habitaciones.html" class="btn essence-btn">Guardar Cambios</a>
                    <a href="lista_habitaciones.html" class="btn">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</section>