<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <form action="#">
                        <h2>Agregar Habitación</h2>
                        <h4>Consecutivo:</h4>
                        <input class="input" type="text" name="txtConsecutivo" id="txtUser" value="HAB4"
                               disabled="disabled"><br>
                        <h4>Número:</h4>
                        <input class="input" type="text" name="numero" id="numero" value=""><br>
                        <h4>Nombre:</h4>
                        <input class="input" type="text" name="nombre" id="nombre" value=""><br>
                        <h4>Descripción:</h4>
                        <select name="descripcion" id="descripcion">
                            <option value="normal">Normal</option>
                            <option value="deluxe">Deluxe</option>
                            <option value="condominio">Condominio</option>
                        </select><br><br>
                        <h4>Imagen:</h4>
                        <input class="input" type="file" name="imagen" id="imagen"><br><br>

                        <td>@Html.ActionLink("Guardar", "ListRoom", "Room", null, new { @class = "btn essence-btn" })</td>
                        <td>@Html.ActionLink("Cancelar", "ListRoom", "Room", null, new { @class = "btn essence-btn" })</td>

                        <
                        <br /><input type="reset" value="Restablecer" class="reset-form">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>