<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Cambiar Contraseña</h2>
                    <h4>Constraseña:</h4>
                    <input class="input" type="text" name="old_password" id="old_password"><br>
                    <h4>Nueva Contraseña:</h4>
                    <input class="input" type="password" name="new_password" id="new_password"><br>
                    <h4>Confirmar nueva contraseña:</h4>
                    <input class="input" type="password" name="confirm_newpass" id="confirm_newpass"><br><br>

                    <a href="./" class="btn essence-btn">Guardar</a>
                </div>
            </div>
        </div>
    </div>
</section>