<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div>
                    <h1>Lista de Roles</h1>
                    <br>
                    <br>
                    <table align="justify-content-end,align-items-center">
                        <tr>
                            <th>Consecutivo</th>
                            <th>Nombre</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Administrador</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Seguridad</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Consecutivo</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mantenimiento</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Consulta</td>
                        </tr>
                    </table>
                    <br>
                    @Html.ActionLink("Solo Consulta", "*", "*", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>s
    </div>
    </div>
</section>