<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <form action="#">
                        <h2>Crear Nuevo Usuario</h2>
                        <h4>Usuario:</h4>
                        <input class="input" type="text" name="txtUser" id="txtUser"><br>
                        <h4>Contraseña:</h4>
                        <input class="input" type="password" name="password" id="password"><br>
                        <h4>Confirmar contraseña:</h4>
                        <input class="input" type="password" name="confirmpass" id="confirmpass"><br>
                        <h4>Email:</h4>
                        <input class="input" type="text" name="email" id="email"><br>
                        <h4>Pregunta de Seguridad:</h4>
                        <input class="input" type="text" name="security_question" id="security_question"><br>
                        <h4>Pregunta de Seguridad:</h4>
                        <input class="input" type="text" name="answer_question" id="answer_question"><br><br>

                        <a href="lista_usuarios.html" class="btn essence-btn">Crear</a>
                        <a href="lista_usuarios.html" class="btn">Cancelar</a>
                        <br /><input type="reset" value="Restablecer" class="reset-form">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>