<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Búsqueda de Errores</h2>
                    <h4>Fecha desde:</h4>
                    <input class="input" type="date" name="from" id="from"><br>
                    <h4>Fecha hasta:</h4>
                    <input class="input" type="date" name="to" id="to"><br>
                    <h4>Tipo de acción:</h4>
                    <br><br>

                    <a href="resultado_errores.html" class="btn essence-btn">Buscar</a>
                </div>
            </div>
        </div>
    </div>
</section>