<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div>
                    <h1>Resultados de la búsqueda:</h1>
                    <p>Desde: 15/05/2019</p>
                    <p>Hasta 14/06/2019</p>
                    <br>
                    <br>
                    <table align="justify-content-end,align-items-center">
                        <tr>
                            <th>Fecha y hora</th>
                            <th>Codigo</th>
                            <th>Mensaje</th>
                        </tr>
                        <tr>
                            <td>01/06/2019 14:23</td>
                            <td>404</td>
                            <td>404 page not found: habitaciones_gratis.html</td>
                        </tr>
                        <tr>
                            <td>03/06/2019 16:01</td>
                            <td>501</td>
                            <td>El servidor ha encontrado un error al tratar de servir la pagina.</td>
                        </tr>
                        <tr>
                            <td>11/06/2019 07:21</td>
                            <td>404</td>
                            <td>404 page not found: habitaciones_gratis.html</td>
                        </tr>
                    </table>
                    <br>
                    @Html.ActionLink("Regresar", "CheckErrors", "Binnacle", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>