<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div>
                    <h1>Resultados de la búsqueda:</h1>
                    <p>Usuario: Metallan</p>
                    <p>Desde: 01/06/2019</p>
                    <p>Hasta 05/06/2019</p>
                    <p>Tipo: Agregar</p>
                    <br>
                    <br>
                    <table align="justify-content-end,align-items-center">
                        <tr>
                            <th>Usuario</th>
                            <th>Fecha y hora</th>
                            <th>Codigo</th>
                            <th>Tipo</th>
                            <th>Descripcion</th>
                            <th>Detalle</th>
                        </tr>
                        <tr>
                            <td>Metallan</td>
                            <td>01/06/2019 14:23</td>
                            <td>BTC1</td>
                            <td>Agregar</td>
                            <td>Habitacion nueva</td>
                            <td>Consecutivo=HAB2|Numero=501|Nombre=Suite Presidencial|Descripcion=Deluxe|Imagen=imagenes/habitaciones/suite_presidencial.jpg</td>
                        </tr>
                        <tr>
                            <td>Metallan</td>
                            <td>03/06/2019 14:23</td>
                            <td>BTC2</td>
                            <td>Agregar</td>
                            <td>Habitacion nueva</td>
                            <td>Consecutivo=HAB3|Numero=502|Nombre=Room 502|Descripcion=Normal|Imagen=imagenes/habitaciones/habitacion_normal.jpg</td>
                        </tr>
                        <tr>
                            <td>Metallan</td>
                            <td>05/06/2019 14:23</td>
                            <td>BTC3</td>
                            <td>Agregar</td>
                            <td>Precio nuevo</td>
                            <td>Consecutivo=PRC5|Tipo=Cerveza Nacional (a elegir)|Precio=2500</td>
                        </tr>
                    </table>
                    <br>
                    @Html.ActionLink("Regresar", "CheckBinnacle", "Binnacle", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>s
    </div>
    </div>
</section>