<section class="welcome_area bg-img background-overlay">
    <div class="container h-25">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div>
                    <br>
                    <br>
                    <br>
                    <h1>Consecutivos</h1>
                    <br>
                    <br>
                    <table align="justify-content-end,align-items-center">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Consecutivo</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Habitaciones</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Actividades</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Precios</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Activos</td>
                            <td>473</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Reservaciones</td>
                            <td>1280</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Clientes</td>
                            <td>367</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Bitácora</td>
                            <td>9825</td>
                        </tr>
                    </table>
                    <br>
                    @Html.ActionLink("Nuevo", "NewConsecutive", "Consecutive", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>