<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Cambiar Roles de Usuario</h2>
                    <h4>Consecutivo:</h4>
                    <input class="input" type="text" name="txtConsecutivo" id="txtUser" value="USR2" disabled="disabled"><br>
                    <h4>Usuario:</h4>
                    <input class="input" type="text" name="txtUser" id="txtUser" value="Metallan"><br>
                    <h4>Roles:</h4>
                    <input type="checkbox" name="rol_admin" id="rol_admin" checked>
                    <label for="rol_admin">Administrador</label>
                    <input type="checkbox" name="rol_seguridad" id="rol_seguridad">
                    <label for="rol_seguridad">Seguridad</label>
                    <input type="checkbox" name="rol_consecutivo" id="rol_consecutivo">
                    <label for="rol_consecutivo">Consecutivo</label>
                    <input type="checkbox" name="rol_mantenimiento" id="rol_mantenimiento">
                    <label for="rol_mantenimiento">Mantenimiento</label>
                    <input type="checkbox" name="rol_consulta" id="rol_consulta">
                    <label for="rol_consulta">Consulta</label><br><br>

                    <td>@Html.ActionLink("Guardar Cambios", "ListUser", "User", null, new { @class = "btn essence-btn" })</td>
                    <td>@Html.ActionLink("Cancelar", "ListUser", "User", null, new { @class = "btn essence-btn" })</td>

                    <
                </div>
            </div>
        </div>
    </div>
</section>