<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Editar Actividad</h2>
                    <h4>Consecutivo:</h4>
                    <input class="input" type="text" name="txtConsecutivo" id="txtUser" value="ACT2" disabled="disabled"><br>
                    <h4>Nombre:</h4>
                    <input class="input" type="text" name="txtUser" id="txtUser" value="Zumba"><br>
                    <h4>Descripción:</h4>
                    <textarea class="form-control" cols="20" name="descripcion" rows="5">Una hora de Zumba con un instructor profesional en el salón de eventos 1.</textarea><br>
                    <h4>Imagen:</h4>
                    <input class="input" type="file" name="imagen" id="imagen"><br><br>

                    @Html.ActionLink("Guardar Cambios", "ListActivities", "Activities", null, new { @class = "btn essence-btn" })
                    @Html.ActionLink("Cancelar", "ListActivities", "Activities", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>
</section>