<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div>
                    <h1>Lista de Actividades</h1>
                    <br>
                    <br>
                    <table align="justify-content-end,align-items-center">
                        <tr>
                            <th>Consecutivo</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <td>ACT1</td>
                            <td>Cabalgata</td>
                            <td><a href="editar_actividad.html">Editar</a></td>
                        </tr>
                        <tr>
                            <td>ACT2</td>
                            <td>Zumba</td>
                            <td><a href="editar_actividad.html">Editar</a></td>
                        </tr>
                        <tr>
                            <td>ACT3</td>
                            <td>Pool</td>
                            <td><a href="editar_actividad.html">Editar</a></td>
                        </tr>
                    </table>
                    <br>
                    @Html.ActionLink("Nuevo", "NewActivities", "Activities", null, new { @class = "dropdown-item" })
                </div>
            </div>
        </div>
    </div>s
    </div>
    </div>
</section>