<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Detalles de Reservación</h2>
                    <h4>Cliente:</h4>
                    <h3>Allan Marín</h3>
                    <h4>Tipo de Habitación:</h4>
                    <h3>Deluxe</h3>
                    <h4>Fecha de Ingreso:</h4>
                    <h3>01/Julio/2019</h3>
                    <h4>Fecha de salida:</h4>
                    <h3>05/Julio/2019</h3>
                    <h4>Estado:</h4>
                    <input type="checkbox" name="reservada" id="reservada" checked disabled>
                    <label for="reservada">Reservada</label>
                    <input type="checkbox" name="pagada" id="pagada" disabled>
                    <label for="pagada">Pagada</label>
                    <br><br>
                    @Html.ActionLink("Regresar", "ListClient", "Client", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>
</section>